.hover-title {
  font-family: bwnistaint-xbd;
  color: #fff;
  text-transform: uppercase;
  padding: 15px
 }

 .bold-text {
   font-weight: 900;
 }
 
.flex-container {
  display: flex;
}

.push-right {
  margin-left: auto;
}

 .new-list-inline {
  list-style: none;
  padding: 0;
}

.new-list-inline > li {
  display: inline;
}
